| if(!!tw &amp;&amp; tw.isPlaying)
br
| tw.stop() ;
br
br
| var box = $('#box')
| .css({ 'width':0, 'height':100 }) ;
br
br
| tw = 
span.bold.pentoneB BTW
span.foggy .create({
	br
	|   target: 
	span.bold box,
	br
	|   to:{
	br
	|     'width':
	span.bold 200, 
	br
	|     'height':
	span.bold 200 
	br
	|   }, 
	br
	|   time:
	span.bold .35, 
	br
	|   ease:
	span.bold Expo.easeIn 
	br
	| }) ;
br
br
| tw.play() ;