.about.page.sizeLg.fullH
	.grid.fullH.place-content-center.darkBG
		#testbox.rel.bg-red-700.grid(style="width:550px")
			p.plainTxt.ls1.lh2.txtJ.typobetween.pentoneblock.pad
				| <span>Highly inspired by </span><a href="#">BetweenAS3</a><span>, </span><a href="#">BetweenJS</a><span> is a </span><em>robust tweening library</em><span> written in </span><a href="#">Javascript</a><span>.</span>
				br
				| <em>Cross-browser</em><span>, and treating Tweens as </span><em>Classes</em><span>, it provides many ways <br /> of </span><a href="#">Decorating</a><span> tweens, i-e </span><em>complexify already existing tweens</em>.
	//- .pageinside.rel.marAuto
				
		